  <header>
    <h1>Younus Ali - Cybersecurity Portfolio</h1>
    <p>Exploring Cybersecurity Research | Passionate about Security Innovation | Ethical Hacker | Cybersecurity Enthusiast from Bangladesh.</p>
    <nav>
      <a href="#Projects">Projects</a>
      <a href="#blue-team">Blue Team</a>
      <a href="#web-security">Web</a>
      <a href="#mobile-security">Mobile</a>
      <a href="#re-malware">RE & Malware</a>
      <a href="#dfir">DFIR</a>
      <a href="#labs">Labs</a>
      <a href="#blog">Blog</a>
      <a href="#contact">Contact</a>
    </nav>
    <input type="text" id="searchBar" placeholder="Search projects or blog...">
  </header>
